# DB
app/data/my_base.db

# Ignore database.py edits
app/core/database.py

# Ignore file edits
app/img/
app/logos/

# Ignore json files
example_json.py
example_json_file.py

# Ignore GeoLite2 database
app/resources

# Ignore create DB
app/core/create_DB.py

#ignore tests
tests/

# Ignore all pycache
**/__pycache__/